version: '3.8'

services:
  contamiki:
    container_name: contamiki
    build: 
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - PORT=4000
      - API_KEY=${API_KEY}
      - JWT_SECRET=${JWT_SECRET}
    volumes:
      - contamiki_data:/app/data

volumes:
  contamiki_data:
