version: '3'
services:
  contamiki:
    container_name: contamiki
    build: .
    restart: unless-stopped
    ports:
      - "4000:4000"
    volumes:
      # Persistencia de datos (Ajusta la ruta de la izquierda según tu NAS)
      - /volume1/docker/contamiki/data:/app/data
    environment:
      - PORT=4000
      # Tu API Key de Google Gemini
      - API_KEY=AIzaSyByt2qp5UYhL-bhf1me82AM81PEJ7MJyYE
      # Clave secreta para las sesiones (Cámbiala por seguridad)
      - JWT_SECRET=cambia_esta_clave_secreta_por_algo_seguro