version: '3.8'

services:
  contamiki:
    container_name: contamiki
    build: .
    restart: unless-stopped
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - PORT=4000
      # Es vital pasar la API Key para que funcionen las características de IA (Gemini)
      # Asegúrate de tener exportada la variable en tu terminal o en un archivo .env
      - API_KEY=${API_KEY}
      # Secreto para firmar tokens JWT
      - JWT_SECRET=${JWT_SECRET:-clave_secreta_por_defecto_123}
    volumes:
      # Persistencia de la carpeta /data donde se guardan los JSON de usuarios
      - contamiki_data:/app/data

volumes:
  contamiki_data:
